#style{
    text-align:center;
    background-color:#E9ECEF; 
}

/****************************** MENU ******************************/

#menu{
    font-size: 20px;
    text-align: center;
}
.nav.navbar-nav.navbar-right {
    color: white;
}
/****************************** PARAGRAPH ******************************/
.mrg{
    margin: 10 px;
}
.make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  .animasyon:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
  .box:hover {
    transform: scale(1.1, 1.1);
  }
  a{
      text-decoration: none;
  }